.buttonApp {
  border-radius: 3px;
  border: none;
  margin: 1em;
  font-weight: bold;
  font-size: 1em;
  transition: color 0.2s;
  color: white;
  background-color: transparent;

  &:hover {
    color: white;
  }
}
