.button {
  position: absolute;
  margin-top: 8em;
  background: none;
  border: none;
  font-size: 3em;
  z-index: 1;
  transform: translateX(-20%);
  margin-left: -0.5em;
  transition: transform 0.8s;
  
  &-open {
  transform: translateX(200%) rotateY(0.5turn);
  }

};
