@import 'reset';
@import 'vars';

body {
  margin: 0;
  padding: 0;
  height: 0% !important;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf');
}

/* 
  // or you can import your own font

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
