.h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: #5A7A9C;
}

.ulContact {
  text-align: center;
  display: flex !important;
  flex-direction: column !important;
  // justify-content: center !important;
  font-size: 2em;
  margin-bottom: 1.4em !important;

  &,li {
    margin: 1em 0.4em !important;
    color: #5A7A9C;
    text-shadow: 2px 2px 2px black;


  }

}

.linkColor {
  color: #5A7A9C;
  &:hover {
    text-decoration: underline;
    color: #5A7A9C;


  }
}

.hr {
  border: solid 0.2px;
  width: 200px;
  margin-top: 1em;
  margin-bottom: 5em;
  color: #5A7A9C;
}

.imageQR {
  display: block;
  margin: 2em auto;
}

// @media screen and (max-width: 750px) {
//   .close {

//   }
// }


@media screen and (max-width: 1300px) {
  .closeContact {
    transform: translateX(0%);
    transition: transform 0.8s;
  }
  .openContact {
    transform: translateX(5%)
  }
}

@media screen and (max-width: 1200px) {
  .closeContact {
    transform: translateX(0%);
    transition: transform 0.8s;
  }
  .openContact {
    transform: translateX(15%)
  }
}

@media screen and (max-width: 1000px) {
  .closeContact {
    transform: translateX(0%);
    transition: transform 0.8s;
  }
  .openContact {
    transform: translateX(25%)
  }
}

@media screen and (max-width: 750px) {
  .closeContact {
    transform: translateX(0%);
    transition: transform 0.8s;
  }
  .openContact {
    transform: translateX(20%)
  }

  .h2 {
    margin-top: 1.5em !important;
    padding: 0.2em;
  }

  .ulContact {
    &,li {
      font-size: 1.3em;
    }
  }

  .imageQR {
    width: 15em;
  }

}

@media screen and (max-width: 650px) {
  .closeContact {
    transform: translateX(0%);
    transition: transform 0.8s;
  }
  .openContact {
    transform: translateX(30%)
  }
}

@media screen and (max-width: 500px) {
  .closeContact {
    transform: translateX(0%);
    transition: transform 0.8s;
  }
  .openContact {
    transform: translateX(43%)
  }
}



@media screen and (max-width: 430px) {
  .closeContact {
    transform: translateX(0%);
    transition: transform 0.8s;
  }
  .openContact {
    transform: translateX(57%)
  }
}

@media screen and (max-width: 300px) {
  .closeContact {
    transform: translateX(0%);
    transition: transform 0.8s;
  }
  .openContact {
    transform: translateX(60%)
  }
}
