.h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #3e92cc;
}

.ulContact {
  text-align: center;
  display: flex !important;
  flex-direction: column !important;
  // justify-content: center !important;
  font-size: 2em;
  margin-bottom: 1.4em !important;
  font-family: 'Quicksanf', sans-serif;

  &,li {
    margin: 1em 0.4em !important;
    color: #3e92cc;
    text-shadow: 2px 2px 2px black;


  }

}

.linkColor {
  color: #3e92cc;
  &:hover {
    text-decoration: underline;
    color: #3e92cc;


  }
}

.hr {
  border: solid 0.2px;
  width: 200px;
  margin-top: -0.8em;
  margin-bottom: 5em;
  color: #3e92cc;
}

.imageQR {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
