.h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #3e92cc;
}

.ulContact {
  text-align: center;
  display: flex !important;
  flex-direction: column !important;
  // justify-content: center !important;
  font-size: 2em;
  margin-bottom: 1.4em !important;
  font-family: 'Quicksanf', sans-serif;

  &,li {
    margin: 1em 0.4em !important;
    color: #3e92cc;
    text-shadow: 2px 2px 2px black;


  }

}

.linkColor {
  color: #3e92cc;
  &:hover {
    text-decoration: underline;
    color: #3e92cc;


  }
}

.hr {
  border: solid 0.2px;
  width: 200px;
  margin-top: 1em;
  margin-bottom: 5em;
  color: #3e92cc;
}

.imageQR {
  display: block;
  margin: 2em auto;
}


@media screen and (max-width: 750px) {
  .close {
    transform: translateX(0%);
    transition: transform 0.8s;
  }
  .open {
    transform: translateX(2%)
  }

  .h2 {
    margin-top: 1.5em !important;
    padding: 0.2em;
  }

  .ulContact {
    &,li {
      font-size: 1.3em;
    }
  }

  .imageQR {
    width: 15em;
  }

}
