.navbar {
  display: flex;
  flex-direction: column;
  background-color: #2e4561;
  height: 100%;
  top: 0;
  position: fixed;
  font-size: large;
  color: white;
  transform: translateX(0%);
  transition: transform .5s;
  

  &-li {
    margin: 1.5em 2.5em;
    color: grey !important;
    transition: color 0.2s;

    &--active {
      color: white !important;
    }

    &:hover {
      color: #0B6F7A !important;
      transition: color 0.2s;
    }
   
  }


  &-disabled {
    transform: translateX(-95%);
  }

}


@media screen and (max-width: 750px) {
  .navbar {
    transform: translateX(0%);
    transition: transform .5s;
    height: 100%;
    position: fixed;

    &-disabled {
      transform: translateX(-100%);
    }
  }

}
