.navbar {
  display: flex;
  flex-direction: column;
  background-color: #253237;
  height: 100vh;
  position: fixed;
  font-size: large;
  color: white;
  transform: translateX(0%);
  transition: transform .5s;
  

  &-li {
    margin: 1.5em 2.5em;
    color: white !important;

    &--active {
      text-decoration: underline;
    }
   
  }


  &-disabled {
    transform: translateX(-95%);
  }

}
